main {
    display: grid;
    justify-items: center;
    align-items: center;
}

form.connect {
    background-color: var(--background-color-2);
    border-radius: 10px;
    display: grid;
    padding: 10px;
    justify-items: center;
}

form.connect * {
    margin: 10px 0;
    font-size: 1.2em;
    border: none;
    border-radius: 4px;
    padding: 2px;
}

form.connect .connect-btn {
    background-color: greenyellow;
    color: #202020;
    height: 50px;
    width: 100%;
    transition: all 0.2s;
    cursor: pointer;
    /*transition: border-radius 0.2s;*/
}

form.connect .connect-btn.blocked {
    background-color: gray;
    cursor: default;
}

form.connect .connect-btn.loading {
    background-color: orange;
    color: orange;
    border-radius: 25px;
    width: 50px;
    cursor: default;
}

.last-session {
    display: flex;
    justify-content: space-around;
}

.last-session button {
    margin-left: 10px;
    border-radius: 4px;
    border: none;
    background-color: var(--highlight-color-1);
    cursor: pointer;
}